/* Modal container */
.modal {
  width: 600px;
  height: 150px;
  font-size: 20px;
  font-family: "farao";
  /* visibility: hidden; */
  right: 20px;
  background-color: #636363;
  color: white;
  padding: 10px 10px 10px 10px;
  position: fixed;
}

/* Modal content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  padding: 20px;
  border-radius: 4px;
  width: 400px;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.close:hover {
  color: #333;
}

/* Other styles */
h2 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}
