@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "FS Industrie";
  src: url("./fonts/Condensed/Web/Bold/FSIndustrieCd-Bold.woff2")
      format("woff2"),
    url("./fonts/Condensed/Web/Bold/FSIndustrieCd-Bold.woff") format("woff");
  /* Add additional font properties if needed */
}

@layer base {
  body {
    @apply text-[#2c3e50] text-[1rem];
  }

  h1,
  h2 {
    @apply font-sans font-normal leading-6 tracking-wide mb-[1rem] text-[#2c3e50];
  }

  h2 {
    @apply font-[2.5rem];
  }

  p {
    @apply text-[1rem] mb-[1rem] font-normal font-body text-[#2c3e50] leading-6 px-1;
  }

  button[type="submit"] {
    @apply w-full bg-[#212121] py-[10px] px-[20px] my-[4px] font-sans uppercase tracking-wide rounded-[50px];
  }
  button[type="submit"]:hover {
    @apply opacity-90;
  }
  button[type="button"] {
    @apply w-full bg-[#636363] py-[10px] px-[20px] my-[4px] font-sans uppercase tracking-wide rounded-[50px];
  }
  button[type="button"]:hover {
    @apply opacity-90;
  }
  label {
    @apply text-[#2c3e50] !font-bold leading-6 !font-body !opacity-90;
  }

  a {
    @apply text-black relative inline-block;
  }

  a::after {
    @apply content-[''] absolute bottom-0 left-0 w-full h-[30%] bg-[#444] opacity-50 transition-all duration-100 ease-linear;
  }

  a:hover::after {
    @apply h-[90%];
  }
}

@layer components {
  .form-component {
    @apply w-6/12;
  }

  .modal {
    @apply w-[600px] fixed right-[20px] text-white opacity-90 p-[10px];
  }

  .close {
    @apply absolute top-[20px] right-[20px] font-[20px] font-bold text-[#aaa];
  }
  .close:hover {
    @apply text-[#333] cursor-pointer;
  }
}
